body{
    background-color: #7bf1fa;
    font-size: 16px;
    color: rgb(15, 15, 15);
    font-family: sans-serif;
}

.all{
    width: 80%;
    margin: 10px auto;
}

.head{
    background-color: rgb(252, 244, 244);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

.header{
    background-color: rgb(91, 119, 243);
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    text-align: center;

}

.head h1.judul,
.head h3.deskripsi{
    text-align: center;
}

.nav{
    background-color: #87cefa;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    margin-bottom: 10px;
}

div.nav ul{
    list-style: none;
    overflow: hidden;
}

div.nav ul li{
    float: left;
    text-transform: uppercase;
}

div.nav ul li a{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #2c2c2c;
    font-family: sans-serif;
    font-size: 13px;
    font-weight:400;
    transition: all 0.3s ease-in-out;
    
}

div.nav ul li a:hover,
div.nav ul li a.hoverover {
    cursor: pointer;
    color:#fff;
}